.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background: #00000099;
  z-index: 5;
  animation: fade-in .5s;
}

@keyframes fade-in {
  from{
     visibility: hidden;
     opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.scroll-disable {
  overflow: hidden;
}
