@import "../common/variables.scss";

.message-box {
  max-width: 500px;
  padding: 40px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background: url(../../assets/images/game-background.jpg);
  color: $main-color;
  animation: slide-in .5s;
  user-select: none;
}

@keyframes slide-in {
  0% {
    transform: translateY(-300%);
  }

  80% {
    transform: translateY(3%);
  }

  100% {
    transform: unset;
  }
}

.message-box__button {
  padding: 10px;
  min-width: 100px;
}

.message-box__text {
  font-size: 34px;
}

.message-box__buttons {
  display: flex;
  column-gap: 20px;
}
