@import "../common/variables.scss";

.settings-dialog {
  font-size: 25px;
}

.settings-dialog__radio {
  display: none;
}

.settings-dialog__label {
  margin: 0 10px;
  padding: 5px 8px;
  border: $main-color 2px solid;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.settings-dialog__radio:checked + .settings-dialog__label {
  background: $main-color;
  color: $secondary-color;
}

.settings-dialog__slider-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.settings-dialog__mines-slider {
  appearance: none;
  height: 15px;
  border: $main-color 2px solid;
  background: none;
  flex: 1 0;
}

.settings-dialog__mines-slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 25px;
  border-radius: 5px;
  background: $main-color;
  cursor: pointer;
}

.settings-dialog__mines-count-output {
  flex: 0 1 25px;
}

.settings-dialog__sounds-checkbox {
  display: none;
}

.settings-dialog__sounds-switch {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 40px;
  border: $main-color 2px solid;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.settings-dialog__sounds-switch::before {
  position: absolute;
  content: "off";
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-color;
  color: $secondary-color;
  transition: left .3s;
}

.settings-dialog__sounds-checkbox:checked + .settings-dialog__sounds-switch::before {
  content: "on";
  left: 50%;
}
