.dog {
  position: absolute;
  height: 80px;
  width: 100px;
  animation: sniff 0.3s infinite;
  background-size: 100% 100%;
  transition: transform .3s, top 1s linear, left 1s linear;
}

.dog_direction_left {
  transform: scaleX(-1);
}

.dog_animation_walk {
  animation: walk .5s infinite;
}

@keyframes sniff {

  0%,
  100% {
    background-image: url(../../assets/images/dog-sniff0.png);
  }

  50% {
    background-image: url(../../assets/images/dog-sniff1.png);
  }

}

@keyframes walk {

  0%,
  100% {
    background-image: url(../../assets/images/dog-sniff0.png);
  }

  25% {
    background-image: url(../../assets/images/dog-walk0.png);
  }

  50% {
    background-image: url(../../assets/images/dog-walk1.png);
  }

  75% {
    background-image: url(../../assets/images/dog-walk2.png);
  }

}
