@import "../../common/variables.scss";

$mine-field-margin-top: 25px;

.minesweeper__mine-field {
  margin-top: $mine-field-margin-top;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.minesweeper__mine-field_disabled {
  pointer-events: none;
}

.minesweeper__mine-field-row {
  display: flex;
  justify-content: space-evenly;
}
